target/
.idea/
*.iml
.DS_Store
*.class
application-local.properties
.env

############################
# Terraform
############################
# Local .terraform directories
.terraform/
# Terraform state files (VERY sensitive)
*.tfstate*
*.tfstate.*
# Variable files (often contain secrets)
*.tfvars
*.tfvars.json
# Crash logs
crash.log
crash.*.log
# Terraform plan files
*.tfplan
# Override files (local-only behavior)
override.tf
*_override.tf
override.tf.json
*_override.tf.json
#CLI config files
terraformrc
terraform.rc
# Lock file (optional: keep it if you want reproducible builds)
# .terraform.lock.hcl

############################
# Ansible
############################
.ansible/
# Inventory files with secrets (adjust if needed)
inventory
inventory.ini
hosts
hosts.ini

# Vault / secret files
*.vault
vault.yml
vault.yaml
group_vars/*/vault.yml
host_vars/*/vault.yml
* ?
.vault_pass.txt

# Retry files
*.retry

# Facts cache
facts_cache/
.cache/

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.swp


